body {
    background-color: #020714;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

h1 {
    font-family: 'Playball', cursive;
    color: white;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    background-color: #020714;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}   

#jetsonsPic {
    height: 40%;
    width: 40%;
}

.rosie {
    height: 25%;
    width: 25%;
    margin-left: 5%;
}

button {
    font-family: 'Playball', cursive;
}

p {
    font-family: 'Forum', cursive;
    color: white;
}



table {
    font-family: 'Forum', cursive;
}


