body {
    background-color: #020714;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

h1 {
    font-family: 'Playball', cursive;
    color: white;
    font-size: 90px;
}

.jumbotron {
    background-color: #020714;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}   

#jetsonsPic {
    height: 40%;
    width: 40%;
}

.rosie {
    height: 10%;
    width: 10%;
    margin-left: 5%;
}

button {
    font-family: 'Playball', cursive;
}

p {
    font-family: 'Forum', cursive;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: 'Forum', cursive;
}

footer {
    height: 25px;
    background-color: gray;
}